{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "not ie <= 8"]
      },
      "loose": true
    }],
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "import", {
        "style": true,
        "libraryName": "antd"
      }
    ]
  ]
}
